<div class="jumbotron">
    @*<video width="480" height="320" controls="controls" autoplay="autoplay">
        
    </video>*@

    <video id="video" width="320" height="240" controls="controls" autoplay="autoplay">
        <source src="http://localhost:26007/api/Camera/fromvideo/?videoName=Saikhan" />
    </video>
</div>
@section script
{

}