@{ 
    ViewBag.Title = "Tugsuu";
}

<div class="jumbotron">
    <video id="videoclip" controls="controls" poster="images/cover.jpg" title="Video title">
        <source id='mp4Source' src="http://localhost:26007/api/camera/fromvideo/?videoName=mov" type="video/mp4" />
    </video>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {
        var videocontainer = document.getElementById('videoclip');
        var source = document.getElementById('mp4Source');

        videocontainer.onended = function () {
            source.src = "http://localhost:26007/api/camera/fromvideo/?videoName=Saikhan";
            videocontainer.load();
            videocontainer.play();
        }
    });
</script>